{% extends 'base.html.twig' %}

{% block title 'A propos de nous' %}

{% block body %}
    <div class="content">
        <div class="illustration" style="background-image: url({{ asset('assets/images/illustration/read.png') }});padding-top: 37.64%;">
            <span class="illustration-title about-title" style="width: 16.2rem;">A propos de nous</span>
        </div>

        <div class="separator"></div>

        <div class="about-info bg-bleu text-white">
            <div class="about-bando bg-rose">
                Cette plateforme est mise en ligne par l'association Terhoma <a href="#!">(www.terhoma.org).</a>
            </div>
            <div class="row mx-auto">
                <div class="col-md-9 p-4 about-desc">
                    <p>Si le livre est reconnu comme un bien culturel, le marché du livre et sa distribution laissent la part belle aux gros éditeurs et très peu d'espace pour les petites maisons d'édition et les nouveaux auteurs.<br> La création de cette plateforme est liée à notre certitude que l'émergence de nouveaux talents enrichit la littérature et lui offre la plus belle des promesses :</p>
                    <strong>La diversité.</strong>
                </div>
                <div class="col-md-3 p-0">
                    <div class="about-youtube">
                        <iframe title="YouTube video player" class="youtube-player" allowfullscreen="" type="text/html" src="//www.youtube.com/embed/XKOBU0udTnk?controls=1&amp;amp;showinfo=1" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="illustration lune" style="background-image: url({{ asset('assets/images/illustration/lune.png') }});padding-top: 63.64%;">
            <div class="about-block">
                <div class="about-title">Une volonté d'accompagner !</div>
                <div class="row mx-auto pt-2">
                    <div class="col-md-7 about-don text-white p-top">
                        <p>Les frais d'inscription, en plus des avantages offerts à chaque membre, donnent à l'association Terhoma des moyens<br>financiers pour :</p>
                        <ul class="hidden-response-2">
                            <li class="pb-2">
                                Le développement de nos ateliers d'écriture,
                            </li>
                            <li class="pb-2">
                                L'organisation de nos évènements,
                            </li>
                            <li class="pb-2">
                                L'organisation du salon Pas vu, pas lu,
                            </li>
                            <li class="pb-2">
                                La promotion de nouveaux auteurs,
                            </li>
                            <li class="pb-2">
                                La promotion de petits éditeurs ,
                            </li>
                            <li class="pb-2">
                                L'édition de nouveaux auteurs
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5 p-0">
                        <div class="about-block-don text-white">
                            <p class="hidden-response-2">Vous pouvez nous aider à faire vivre cette plateforme en faisant un don* <br>à<br> l'association Terhoma .</p>
                            <a href="http://terhoma.org/Faire-un-don/" target="_blank" class="btn-default">Faire un don !</a>
                            <p class="hidden-response">* Votre don donne droit à une<br> réduction fiscale <br>représentant 66 % des sommes <br>versées <br>(dans la limite de dons <br>représentant 20 % du revenu<br> imposable)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
