{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/pages/category.css') }}">
{% endblock %}

{% block title 'Categories' %}

{% block body %}

    <div class="vbox wb_container" id="wb_main" style="height: 970px;">

        <div class="wb_cont_inner">
            <div id="wb_element_instance1082" class="wb_element wb_text_element" style=" line-height: normal;">
                <h3 class="wb-stl-heading3" style="text-align: center;">
                    <font color="#0a030a"><span style="caret-color: rgb(10, 3, 10);">Nouvelles</span></font>
                </h3>
            </div>

            <div id="wb_element_instance1083" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance1084" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance1085" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance1086" class="wb_element wb_element_shape">
                <div class="wb_shp" style="background: url('{{ asset('assets/images/gallery/6fe924da4c2acbc713be60494a101a0a.jpg') }}'); repeat scroll center center; background-size: cover; border: 5px none #c0c0c0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 300px;"></div>
            </div>

            <div id="wb_element_instance1087" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance1088" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal"><span style="color:rgba(255,255,255,1);"><em>Vous êtes auteur de nouvelles, vous souhaitez donner de la visibilité à vos créations, rendez-vous à la page<a data-finalurl="mi:5d14e62b_126/" data-name="Inscription Auteur" href="Inscription-Auteur/"> inscription </a>et remplissez le formulaire. Un membre de notre équipe reviendra vers vous.</em></span></p>
            </div>

            <div id="wb_element_instance1089" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance1090" class="wb_element wb_element_picture" title="">
                <a href="Inscription-Auteur/"><img alt="gallery/visuelcorrection" src="{{ asset('assets/images/gallery/6f1a0adae718b8f5f34d8fced72e3f21_113x80.jpg') }}"></a>
            </div>

            <div id="wb_element_instance1091" class="wb_element" style="width: 100%; display: none;">
                <script type="text/javascript">
                    $(function() {
                        $("#wb_element_instance1091").hide();
                    });
                </script>
            </div>
        </div>
        <div class="wb_cont_outer"></div>
        <div class="wb_cont_bg"></div>
    </div>

{% endblock %}

