{% extends 'base.html.twig' %}

{% block title 'Pas vu Pas lu - Informations légales' %}

{% block body %}
    <div class="content">
        <div class="illustration" style="background-image: url({{ asset('assets/images/illustration/legal.jpg') }});">
            <span class="illustration-title about-title" style="width: 19rem;">Informations légales</span>
        </div>

        <div class="separator"></div>

        <div class="readers-bando bg-rose" style="background: black; font: normal normal .95rem 'Open Sans',Arial,sans-serif; color: #ffffff; text-align: center; font-weight: 700; letter-spacing: 0;">
            INFORMATIONS LEGALES, CONDITIONS GENERALES D'UTILISATION & CONDITIONS GENERALES DE VENTE :
        </div>
        <div class="" style="background: #c61859; color: white; padding: 1.5rem;">
            <p><strong>INFORMATIONS LEGALES &amp; MENTIONS OBLIGATOIRES</strong></p>

            <p>Le site Internet www.pasvupaslu.com est un site d&#39;information sur l&#39;&eacute;mergence litt&eacute;raire et tout ce qui peut y conduire. Mais, c&#39;est &eacute;galement&nbsp;un service d&rsquo;abonnement mis en ligne par l&rsquo;association Terhoma &nbsp;dont le si&egrave;ge social se trouve &agrave; l&#39;adresse ci-dessous :</p>

            <p>Association Terhoma ( loi 1901) -&nbsp;P&ocirc;le Blaise Pascal - 23, rue des &eacute;coles Jean Baudin - 78114 Magny-les-Hameaux</p>

            <p>Num&eacute;ro de Siret : 833 713 209 00017</p>

            <p>Le site www.pasvupaslu.com est h&eacute;berg&eacute; par la soci&eacute;t&eacute; LWS&nbsp;(Ligne Web Services) - RCS Paris B 450 453 881</p>

            <p>Pour toute demande d&#39;information compl&eacute;mentaire, nous vous remercions par avance de bien vouloir nous adresser un courrier par mail &agrave; l&#39;adresse ci-dessous :</p>

            <p>&nbsp; &nbsp;<a href="mailto:contact@terhoma.org" style="color: white;">contact@terhoma.org</a></p>

            <p>&nbsp;</p>

            <h3><strong>CGU ( CONDITIONS GENERALES D&#39;UTILISATION&nbsp;) &amp; CGV (CONDITIONS GENERALES DE VENTE)</strong></h3>

            <p><strong>PREAMBULE :</strong></p>

            <p>Le site Internet www.pasvupaslu.com a &eacute;t&eacute; cr&eacute;&eacute; pour mettre en relation des lecteurs avec des auteurs en recherche d&#39;&eacute;diteur, des auteurs&nbsp;en manque de visibilit&eacute;, des auteurs en herbe ou encore des auteurs auto &eacute;dit&eacute;s ou &eacute;dit&eacute;s par de petites structures d&#39;&eacute;dtion en manque, elles aussi, de visibilit&eacute;.</p>

            <p>Le site s&#39;adresse &eacute;galement &agrave; tous les passionn&eacute;(e)s de litt&eacute;rature et ce, quelque soit le genre et la nature des ouvrages. Il se veut &ecirc;tre un lieu d&#39;information sur tous les acteurs de la cha&icirc;ne du livre.</p>

            <p>&nbsp;</p>

            <p><strong>IMPORTANT !&nbsp;</strong></p>

            <p><strong>Si toutes les pages du site sont accessibles gratuitement, certaines fonctionnalit&eacute;s sont payantes et accessibles aux seuls Abonn&eacute;s.</strong></p>

            <p>&nbsp;</p>

            <p>Tout&nbsp;<strong>Utilisateur abonn&eacute;</strong>&nbsp;d&eacute;clare &ecirc;tre inform&eacute; qu&rsquo;il devra, pour acc&eacute;der aux fonctions payantes du&nbsp;Site &quot;PASVUPASLU&quot;, disposer d&rsquo;un acc&egrave;s &agrave; l&rsquo;Internet souscrit aupr&egrave;s du fournisseur de son choix, dont le co&ucirc;t est &agrave; sa charge.</p>

            <p>Il appartient &agrave; L&#39;<strong>Utilisateur abonn&eacute;</strong>&nbsp;de prendre toute mesure qu&rsquo;il jugera appropri&eacute;e pour assurer la s&eacute;curit&eacute; de son &eacute;quipement et de ses propres donn&eacute;es, logiciels ou autres, notamment contre la contamination par tout virus et/ou de tentative d&rsquo;intrusion dont il pourrait &ecirc;tre victime.</p>

            <p>Tout &eacute;quipement connect&eacute; au site est et reste sous l&rsquo;enti&egrave;re responsabilit&eacute; de l&rsquo;utilisateur, la responsabilit&eacute; de l&#39;association Terhoma ne pourra pas &ecirc;tre engag&eacute;e&nbsp;pour tout dommage direct ou indirect qui pourrait subvenir du fait de leur connexion au site Internet.</p>

            <p>L&rsquo;<strong>Utilisateur abonn&eacute;</strong>&nbsp;s&rsquo;engage, le cas &eacute;ch&eacute;ant, &agrave; respecter et &agrave; maintenir la confidentialit&eacute; des Identifiants de connexion &agrave; son espace&nbsp;personnel et reconna&icirc;t express&eacute;ment que toute connexion &agrave; son espace&nbsp;personnel, ainsi que toute transmission de donn&eacute;es depuis son espace personnel&nbsp;&nbsp;sera r&eacute;put&eacute;e avoir &eacute;t&eacute; effectu&eacute;e par l&rsquo;utilisateur.</p>

            <p>Toute perte, d&eacute;tournement ou utilisation des Identifiants de connexion et leurs &eacute;ventuelles cons&eacute;quences rel&egrave;vent de la seule et enti&egrave;re responsabilit&eacute; de L&#39;<strong>Utilisateur abonn&eacute;</strong>.</p>

            <p>L&#39;<strong>Utilisateur abonn&eacute;</strong>&nbsp;est inform&eacute; et accepte que&nbsp;pour des raisons d&#39;ordre technique, ses extraits de livre, ses critiques ou informations&nbsp;&nbsp;ne soient&nbsp;pas diffus&eacute;e instantan&eacute;ment apr&egrave;s son d&eacute;p&ocirc;t sur le site et les Applications mobiles qui pourraient &ecirc;tre d&eacute;velopp&eacute;es par Terhoma.</p>

            <p>L&#39;<strong>Utilisateur abonn&eacute;</strong>&nbsp;&nbsp;est inform&eacute; que toute&nbsp;publication&nbsp;sur le site &quot;PASVUPASLU&quot;, est susceptible d&#39;&ecirc;tre partag&eacute;e avec tous les visiteurs et tous les abonn&eacute;s.</p>

            <p>Toutes les interventions&nbsp;publi&eacute;es par L&#39;<strong>Utilisateur abonn&eacute;</strong>&nbsp;seront&nbsp;diffus&eacute;es sur le Site &quot;PASVUPASLU&quot;&nbsp;et les applications mobiles qui pourraient &ecirc;tre d&eacute;velopp&eacute;es par Terhoma.</p>

            <h3><strong>DESCRIPTION DU SERVICE &quot;PASVUPASLU&quot;</strong></h3>

            <p>Toutes les pages du site &quot;PASVUPASLU&quot; sont accessibles &agrave; tous les visiteurs, membres abonn&eacute;s ou non membres.&nbsp;</p>

            <p>Les pr&eacute;sentes Conditions d&rsquo;Utilisation des Services sont conclues entre l&#39;association Terhoma et toute personne ayant la qualit&eacute; de membre abonn&eacute;.</p>

            <p>Les Services du site sont propos&eacute; aux utilisateurs abonn&eacute;s et varient en fonction l&#39;option de&nbsp;<strong>la qualit&eacute; de membre abonn&eacute;&nbsp;</strong>choisi par l&#39;utilisateur.</p>

            <p>Ces options sont au nombre de deux&nbsp;:&nbsp;Membre abonn&eacute; &quot;AUTEUR&quot;&nbsp;&amp; Membre abonn&eacute; &quot;LECTEUR&quot;</p>

            <p><strong>ARTICLE 1 : FONCTIONNALITES PAYANTES&nbsp;</strong></p>

            <p><strong>ARTICLE 1 -1 :&nbsp;&nbsp;Fonctionnalit&eacute;s payantes rattach&eacute;es aux utilisateurs, membres&nbsp;abonn&eacute;(e)s en qualit&eacute; de &quot;LECTEUR&quot; :</strong></p>

            <p>Cr&eacute;er&nbsp;un espace&nbsp;priv&eacute; avec mot de passe pour la mise en ligne d&#39;un profil avec photo ou avatar en fonction des souhaits de chaque abonn&eacute;.</p>

            <p>Echanger&nbsp;avec les autres utilisateurs sur diff&eacute;rents sujets via la fonction forum du site,</p>

            <p>Noter&nbsp;des extraits d&#39;ouvrages mis en ligne par tous les auteurs,</p>

            <p>R&eacute;diger des critiques sur des extraits d&#39;ouvrages mis en ligne par les auteurs,</p>

            <p>Recevoir des invitations gratuites &agrave; des &eacute;v&egrave;nements Terhoma.</p>

            <p>B&eacute;n&eacute;ficier de r&eacute;ductions tarifaires pour les &eacute;v&egrave;nements organis&eacute;s par l&#39;association Terhoma (rendez-vous &quot;Pasvupaslu&quot;; salon &quot;Pasvupaslu&quot;; rencontres auteurs/lecteurs)</p>

            <p>B&eacute;n&eacute;ficier de r&eacute;ductions tarifaires sur l&#39;achat de livres en fonction des op&eacute;rations de promotion organis&eacute;es par Terhoma et les maisons d&#39;&eacute;ditions, les auteurs auto-&eacute;dit&eacute;s, etc.</p>

            <p>&nbsp;</p>

            <p><strong>ARTICLE 1-2 : Fonctionnalit&eacute;s payantes rattach&eacute;es aux utilisateurs, membres abonn&eacute;(e)s en qualit&eacute; d&#39;&quot;AUTEUR&quot;</strong></p>

            <p>&nbsp;Avoir l&#39;acc&egrave;s &agrave; l&#39;ensemble des fonctionnalit&eacute;s pr&eacute;sent&eacute;es &agrave;&nbsp;l&#39;article 1-1 ci-dessus</p>

            <p>G&eacute;rer un espace utile et n&eacute;cessaire &agrave; la pr&eacute;sentation de l&#39;auteur (biographie, portrait, site Internet, blog, maison d&#39;&eacute;dition, coordonn&eacute;es)</p>

            <p>G&eacute;rer un espace utile et n&eacute;cessaire &agrave; la pr&eacute;sentation de l&#39;ouvrage : Visuel de Couverture + extrait&nbsp;</p>

            <p>L&#39;abonn&eacute; auteur accepte, avec la mise en ligne de son extrait, les critiques &eacute;manant de tous les lecteurs.</p>

            <p>L&#39;abonn&eacute; auteur peut, durant toute la dur&eacute;e de son abonnement, modifier sa pr&eacute;sentation et toutes les composantes de pr&eacute;sentation de son ouvrage du moment que celles-ci respectent les contraintes techniques pr&eacute;vues et pr&eacute;sent&eacute;es sur la page d&#39;inscription.&nbsp;</p>

            <p>L&#39;abonn&eacute; auteur peut &eacute;galement changer d&#39;ouvrage au cours de son abonnement sans avoir &agrave; payer aucun suppl&eacute;ment.</p>

            <p>L&#39;abonn&eacute; auteur peut &eacute;galement pr&eacute;senter autant d&#39;ouvrages qu&#39;il le souhaite mais devra s&#39;acquitter des frais d&#39;abonnement li&eacute; &agrave; chacun de ces ouvrages.&nbsp;</p>

            <p>&nbsp;</p>

            <p><strong>ARTICLE 2 : Proc&eacute;dure d&rsquo;inscription aux Services &quot;PASVUPASLU&quot;</strong></p>

            <p>&nbsp;</p>

            <p>L&rsquo;acceptation des conditions d&rsquo;utilisation lors de l&rsquo;inscription formalise la conclusion du contrat d&rsquo;abonnement&nbsp;aux services. Elle permet de devenir Membre, de d&eacute;couvrir les Services et donne acc&egrave;s aux fonctionnalit&eacute;s des Services d&eacute;crites ci-avant,&nbsp;&agrave; l&rsquo;article 1-1&nbsp;pour les utilisateurs abonn&eacute;s en qualit&eacute; de &quot;Lecteur&quot; et &agrave; l&#39;article 1-2 pour les utilisateurs abonn&eacute;s en qualit&eacute; d&nbsp;&quot;Auteur&quot;.</p>

            <p>&nbsp;</p>

            <p>Pour s&rsquo;inscrire et ainsi devenir Membre abonn&eacute;, tout Visiteur int&eacute;ress&eacute; par les Services doit &ecirc;tre &acirc;g&eacute; au minimum de 18 ans, satisfaire aux conditions d&rsquo;inscription ou d&rsquo;acc&egrave;s aux Services concern&eacute;s, &ecirc;tre capable juridiquement de contracter (notamment ne pas &ecirc;tre sous tutelle ou curatelle) avoir lu et accept&eacute; les pr&eacute;sentes conditions d&rsquo;utilisation,&nbsp;la&nbsp;Charte d&rsquo;Utilisation des cookies&nbsp;et la&nbsp;Politique surle respect de la Vie Priv&eacute;e, et avoir rempli l&rsquo;ensemble des champs obligatoires figurant dans le formulaire d&rsquo;inscription.</p>

            <p>&nbsp;</p>

            <p><strong>ARTICLE 3. DROIT DE R&Eacute;TRACTATION</strong></p>

            <p>&nbsp;</p>

            <p>Conform&eacute;ment &agrave; l&rsquo;article L.221-18 du Code de la Consommation, l&rsquo;Abonn&eacute; est inform&eacute; qu&rsquo;il dispose d&rsquo;un d&eacute;lai de quatorze jours &agrave; compter du jour de la souscription d&rsquo;un abonnement pour exercer son droit de r&eacute;tractation, sans p&eacute;nalit&eacute; et sans motif, par courrier postal adress&eacute; &agrave; Terhoma dont l&#39;adresse du si&egrave;ge figure au haut de cette page ou par mail, &nbsp;au moyen d&rsquo;une d&eacute;claration d&eacute;nu&eacute;e d&rsquo;ambig&uuml;it&eacute; envoy&eacute;e &agrave; l&rsquo;adresse retractationpasvupaslu@terhoma.org.&nbsp;</p>

            <p>Pour que la r&eacute;tractation soit effective, l&rsquo;abonn&eacute; doit faire parvenir sa demande avant l&rsquo;expiration du d&eacute;lai de r&eacute;tractation de quatorze jours.</p>

            <p>L&rsquo;abonn&eacute; peut, s&rsquo;il le souhaite, acc&eacute;der imm&eacute;diatement aux Services Payants sans attendre la fin du d&eacute;lai de r&eacute;tractation, conform&eacute;ment &agrave; l&rsquo;article L.221-25 du Code la Consommation.&nbsp;</p>

            <p>Si l&rsquo;abonn&eacute; ne souhaite pas avoir imm&eacute;diatement acc&egrave;s aux Services Payants, il peut quitter le Site &quot;Pasvupaslu&quot;&nbsp;apr&egrave;s validation de son paiement et attendre l&rsquo;expiration du d&eacute;lai de quatorze jours. N&eacute;anmoins, si l&rsquo;abonn&eacute; se connecte &agrave; son Compte et utilise les services avant l&rsquo;expiration de ce d&eacute;lai, cette premi&egrave;re connexion &agrave; compter de la souscription d&rsquo;un abonnement constitue une demande expresse de l&rsquo;abonn&eacute; d&rsquo;avoir imm&eacute;diatement acc&egrave;s aux Services Payants.</p>

            <p>&nbsp;</p>

            <p>Dans tous les cas, l&rsquo;acc&egrave;s imm&eacute;diat aux services ne prive pas l&rsquo;abonn&eacute; de son droit de r&eacute;tractation, qui continue &agrave; courir jusqu&rsquo;&agrave; l&rsquo;expiration du d&eacute;lai de quatorze jours. Toutefois, l&rsquo;abonn&eacute; ayant demand&eacute; &agrave; b&eacute;n&eacute;ficier des services payants avant la fin du d&eacute;lai de r&eacute;tractation devra payer un montant proportionnel &agrave; son utilisation des services. Terhoma remboursera alors &agrave; l&rsquo;abonn&eacute; le prix de l&rsquo;abonnement d&eacute;duction faite du montant correspondant au nombre de jours &eacute;coul&eacute;s entre le jour de la premi&egrave;re utilisation de l&rsquo;abonnement et celui de la r&eacute;ception par Terhoma de la demande de r&eacute;tractation, &eacute;tant pr&eacute;cis&eacute; que tout jour d&eacute;but&eacute; est d&ucirc;.</p>

            <p>&nbsp;</p>

            <p>Le remboursement interviendra dans un d&eacute;lai de 15 jours &agrave; compter de la date &agrave; laquelle Terhoma aura &eacute;t&eacute; inform&eacute;e de la d&eacute;cision de l&rsquo;abonn&eacute; de se r&eacute;tracter, par le m&ecirc;me moyen de paiement que celui utilis&eacute; par l&rsquo;abonn&eacute; pour la transaction initiale, sauf instruction contraire de ce dernier.</p>

            <p>&nbsp;</p>

            <p><strong>ARTICLE 4. SERVICES</strong></p>

            <p><strong>4.1. Obligations de&nbsp;Terhoma li&eacute;es aux Services :</strong></p>

            <p>&nbsp;</p>

            <p>Terhoma ne contr&ocirc;lent pas l&rsquo;identit&eacute; r&eacute;elle des abonn&eacute;s lorsqu&rsquo;ils se connectent aux Sites. Terhoma ne contr&ocirc;le&nbsp;ni ne mod&egrave;re&nbsp;de fa&ccedil;on exhaustive les contenus de toute nature que les abonn&eacute;s peuvent &eacute;diter sur le site sous leur responsabilit&eacute; exclusive. N&eacute;anmoins, les photographies et la description figurant sur le profil de chaque abonn&eacute; font l&rsquo;objet d&rsquo;une v&eacute;rification.&nbsp;Dans ce cadre, il est rappel&eacute; aux &nbsp;abonn&eacute;s qu&rsquo;il leur est interdit de divulguer aux autres abonn&eacute;s, par l&rsquo;interm&eacute;diaire du site, toute information permettant leur identification ou leur localisation (nom de famille, adresse postale, email, t&eacute;l&eacute;phone&hellip;), &agrave; l&rsquo;exception de leur pseudonyme.</p>

            <p>&nbsp;</p>

            <p><strong>4.2. Obligations des abonn&eacute;s</strong></p>

            <p>Les dispositions du pr&eacute;sent article s&rsquo;appliquent d&egrave;s l&rsquo;inscription ou l&rsquo;abonnement et demeurent applicables pendant toute la dur&eacute;e d&rsquo;utilisation des services, sans pr&eacute;judice des dispositions li&eacute;es &agrave; la r&eacute;siliation&nbsp;&raquo;.</p>

            <p>Dans le cadre de l&rsquo;utilisation des services du site, l&rsquo;abonn&eacute; s&rsquo;engage &agrave; se conformer aux lois en vigueur, &agrave; respecter les droits des autres abonn&eacute;s, ainsi qu&rsquo;&agrave; respecter les obligations d&eacute;finies ci-apr&egrave;s.</p>

            <p>&nbsp;</p>

            <p><strong>4.2.1. Obligations g&eacute;n&eacute;rales :</strong></p>

            <p>L&rsquo;abonn&eacute; a, de mani&egrave;re g&eacute;n&eacute;rale, pour obligation de :</p>

            <p>Se comporter de fa&ccedil;on loyale &agrave; l&rsquo;&eacute;gard de Terhoma&nbsp;et des autres abonn&eacute;s&nbsp;;</p>

            <p>Respecter les droits de propri&eacute;t&eacute; intellectuelle aff&eacute;rents aux contenus fournis par Terhoma ainsi que par les autres abonn&eacute;s&nbsp;;</p>

            <p>Mesurer qu&rsquo;il d&eacute;finit lui-m&ecirc;me le p&eacute;rim&egrave;tre de sa vie priv&eacute;e et qu&rsquo;il lui appartient de ne communiquer, via les Services, que des informations dont il estime que la diffusion sur les Services ne peut lui &ecirc;tre pr&eacute;judiciable.</p>

            <p>L&#39;abonn&eacute; auteur doit pr&eacute;alablement &agrave; la mise en ligne de ses extraits d&#39;ouvraes sur le site &quot;pasvupaslu&quot; prot&eacute;ger son oeuvre aupr&egrave;s d&#39;organismes comp&eacute;tents. L&#39;association Terhoma ne pourra en aucun cas &ecirc;tre tenue responsable d&#39;une quelconque forme de copie, m&ecirc;me partielle, de son oeuvre par un visiteur ou un abonn&eacute; lecteur.</p>

            <p>&nbsp;</p>

            <p><strong>4.2.2. Obligations Fondamentales :</strong></p>

            <p>L&#39;abonn&eacute; a, de mani&egrave;re g&eacute;n&eacute;rale, pour obligations fondamentales (ci-apr&egrave;s, les &laquo;&nbsp;Obligations Fondamentales&laquo;&nbsp;) de :</p>

            <p>Utiliser les services dans le respect de leur finalit&eacute;, qui est la mise en avant d&#39;auteurs et de leurs ouvrages, la critique de ces ouvrages par les abonn&eacute;s lecteurs et la lecture par tous les visiteurs&nbsp;du site.</p>

            <p>Ne pas poster, indiquer ou diffuser, sous quelque forme que ce soit, des informations ou contenus mensongers&nbsp;;</p>

            <p>S&rsquo;interdire tous propos ou contenus contrevenant aux droits d&rsquo;autrui ou &agrave; caract&egrave;re diffamatoire, injurieux, obsc&egrave;ne, offensant, violent ou incitant &agrave; la violence, politique, raciste ou x&eacute;nophobe et, de mani&egrave;re g&eacute;n&eacute;rale, tous propos ou contenus contraires &agrave; l&rsquo;objet des services, aux lois et r&egrave;glements en vigueur, aux droits des personnes ou aux bonnes m&oelig;urs. En particulier, les photographies et toutes informations, donn&eacute;es ou fichiers fournis par un abonn&eacute; &agrave; Terhoma doivent &ecirc;tre d&eacute;cents et se rapporter exclusivement &agrave; l&rsquo;Abonn&eacute; ou ses oeuvres, s&rsquo;ils se rapportent &agrave; un tiers, &ecirc;tre fournis avec son autorisation expresse et sous la responsabilit&eacute; exclusive de l&rsquo;abonn&eacute; concern&eacute;&nbsp;;</p>

            <p>Ne pas harceler d&rsquo;autres abonn&eacute;s&nbsp;;</p>

            <p>Ne pas poster, indiquer ni diffuser, sous quelque forme que ce soit, des informations ou contenus ayant pour effet de diminuer, de d&eacute;sorganiser, d&rsquo;emp&ecirc;cher l&rsquo;utilisation normale du site, d&rsquo;interrompre et/ou de ralentir la circulation normale des communications entre les abonn&eacute;s par l&rsquo;interm&eacute;diaire des services, tels que des logiciels, virus, bombes logiques, envoi massif de messages, etc.</p>

            <p>Terhoma se r&eacute;serve&nbsp;le droit de supprimer les messages qui sont envoy&eacute;s massivement par un abonn&eacute; afin de pr&eacute;server une qualit&eacute; d&rsquo;utilisation normale des services.</p>

            <p>Ne pas poster, indiquer ni diffuser, sous quelque forme que ce soit, des informations ou contenus int&eacute;grant des liens hypertextes vers des sites Internet tiers au&nbsp;site&nbsp;&quot;PASVUPASLU&quot;&nbsp;ou vers des sources externes (sites ou applications mobiles de tiers, r&eacute;seaux sociaux, etc.) (ci-apr&egrave;s, les &laquo;&nbsp;Sites Tiers&laquo;&nbsp;) qui auraient un caract&egrave;re ill&eacute;gal, contraires aux bonnes m&oelig;urs et/ou non conformes &agrave; l&rsquo;objet des services.</p>

            <p>Ne pas poster de photographie(s) ou autre contenu visuel repr&eacute;sentant des mineurs.</p>

            <p>Utiliser ses mots de passe confidentiel et pseudonyme d&rsquo;abonn&eacute; selon leur stricte finalit&eacute; d&rsquo;authentification aux services. A cet &eacute;gard, l&#39;abonn&eacute; ne doit pas, sans que cette liste ne soit limitative, communiquer, diffuser, partager, rendre accessible, de quelle que fa&ccedil;on et pour quelque raison que ce soit, ses mots de passe et/ou identifiants &agrave; un tiers, quel qu&rsquo;il soit.</p>

            <p>Tout manquement aux obligations fondamentales ainsi d&eacute;finies constitue un manquement grave de l&rsquo;abonn&eacute; &agrave; ses obligations contractuelles.</p>

            <p>En cas de manquement par un abonn&eacute; &agrave; une ou plusieurs des obligations fondamentales, Terhoma pourra r&eacute;silier le contrat et supprimer d&eacute;finitivement le compte de l&#39;abonn&eacute; concern&eacute;. &nbsp;</p>

            <p>En cas de manquement par un abonn&eacute; &agrave; une ou plusieurs des obligations g&eacute;n&eacute;rales et/ou fondamentales, et notamment en cas de comportement inconvenant sur le site, Terhoma pourra&nbsp;emp&ecirc;cher tout acc&egrave;s ou inscription de&nbsp;l&rsquo;abonn&eacute; concern&eacute; &agrave; un ou plusieurs &eacute;v&egrave;nements ou activit&eacute;s&nbsp;de fa&ccedil;on temporaire ou permanente.</p>

            <p>&nbsp;</p>

            <p><strong>ARTICLE 5. PRIX, MODALIT&Eacute;S DE PAIEMENT ET DE RENOUVELLEMENT</strong></p>

            <p><strong>5.1. Prix et modalit&eacute;s de paiement des services payants</strong></p>

            <p>Pour utiliser les services payants, l&rsquo;Abonn&eacute; doit disposer d&rsquo;un abonnement&nbsp;; les prix et les modalit&eacute;s de paiement sont d&eacute;crits sur les pages du site. Les Membres peuvent souscrire &agrave; un Abonnement en payant soit par carte bancaire (sur internet ou sur un service mobile), soit au moyen d&rsquo;un service de paiement en ligne (PayPal, Direct Debit etc.) selon les options propos&eacute;es sur la page inscription du site. Les prix sont indiqu&eacute;s en Euros TTC (toutes taxes comprises).</p>

            <p>&nbsp;</p>

            <p><strong>5.2. Modalit&eacute;s de renouvellement de l&rsquo;Abonnement</strong></p>

            <p>A l&rsquo;expiration de chaque p&eacute;riode de validit&eacute;, l&rsquo;abonnement sera renouvel&eacute; par p&eacute;riodes &eacute;quivalentes &agrave; celle initialement choisie, sauf r&eacute;siliation par l&rsquo;abonn&eacute; dans les conditions indiqu&eacute;es &agrave; l&rsquo;article &nbsp;ci-dessous. Lors du renouvellement, l&rsquo;abonnement sera factur&eacute; &agrave; l&rsquo;abonn&eacute; sur la base tarifaire non remis&eacute;e (plein tarif), applicable aux services concern&eacute;s et pour une p&eacute;riode &eacute;quivalente &agrave; celle initialement choisie.</p>

            <p>&nbsp;</p>

            <p>En vertu des articles L 215-1 et L241-3 du Code de Consommation, &laquo;&nbsp;Pour les contrats de prestations de services conclus pour une dur&eacute;e d&eacute;termin&eacute;e avec une clause de reconduction tacite, le professionnel prestataire de services informe le consommateur par &eacute;crit, par lettre nominative ou courrier &eacute;lectronique d&eacute;di&eacute;s, au plus t&ocirc;t trois mois et au plus tard un mois avant le terme de la p&eacute;riode autorisant le rejet de la reconduction, de la possibilit&eacute; de ne pas reconduire le contrat qu&rsquo;il a conclu avec une clause de reconduction tacite. Cette information, d&eacute;livr&eacute;e dans des termes clairs et compr&eacute;hensibles, mentionne, dans un encadr&eacute; apparent, la date limite de r&eacute;siliation. Lorsque cette information ne lui a pas &eacute;t&eacute; adress&eacute;e conform&eacute;ment aux dispositions du premier alin&eacute;a, le consommateur peut mettre gratuitement un terme au contrat, &agrave; tout moment &agrave; compter de la date de reconduction. Les avances effectu&eacute;es apr&egrave;s la derni&egrave;re date de reconduction ou, s&rsquo;agissant des contrats &agrave; dur&eacute;e ind&eacute;termin&eacute;e, apr&egrave;s la date de transformation du contrat initial &agrave; dur&eacute;e d&eacute;termin&eacute;e, sont dans ce cas rembours&eacute;es dans un d&eacute;lai de trente jours &agrave; compter de la date de r&eacute;siliation, d&eacute;duction faite des sommes correspondant, jusqu&rsquo;&agrave; celle-ci, &agrave; l&rsquo;ex&eacute;cution du contrat. Les dispositions du pr&eacute;sent article s&rsquo;appliquent sans pr&eacute;judice de celles qui soumettent l&eacute;galement certains contrats &agrave; des r&egrave;gles particuli&egrave;res en ce qui concerne l&rsquo;information du consommateur. A d&eacute;faut de remboursement dans les conditions pr&eacute;vues ci-dessus, les sommes dues sont productives d&rsquo;int&eacute;r&ecirc;ts au taux l&eacute;gal&nbsp;&raquo;.</p>

            <p>&nbsp;</p>

            <p>Ainsi, Terhoma informera l&rsquo;abonn&eacute;, par courrier &eacute;lectronique envoy&eacute; au plus t&ocirc;t trois mois et au plus tard un mois avant la fin de l&rsquo;abonnement initial, du renouvellement de son abonnement ainsi que de la possibilit&eacute; de le&nbsp;r&eacute;silier gratuitement dans les conditions indiqu&eacute;es &agrave; l&rsquo;article &quot;R&eacute;siliation&quot;&nbsp;des pr&eacute;sentes.</p>

            <p>En outre, une information sur l&rsquo;&eacute;ch&eacute;ance de l&rsquo;abonnement d&rsquo;un abonn&eacute; est fournie aux abonn&eacute;s dans la rubrique &laquo;&nbsp;Mon Compte&nbsp;&raquo;, qui leur permet de g&eacute;rer leur abonnement et, le cas &eacute;ch&eacute;ant, l&rsquo;annulation du renouvellement automatique.</p>

            <p>&nbsp;</p>

            <p><strong>ARTICLE 6. PROPRI&Eacute;T&Eacute; INTELLECTUELLE</strong></p>

            <p><strong>6.1. Contenus diffus&eacute;s sur le site&nbsp;</strong></p>

            <p>Les d&eacute;nominations des services, marques, logos, graphismes &amp; photographies, les animations, les vid&eacute;os et les textes contenus sur le site&nbsp;sont la propri&eacute;t&eacute; exclusive de Terhoma et le cas &eacute;ch&eacute;ant de ses partenaires et ne peuvent &ecirc;tre reproduits, utilis&eacute;s ou repr&eacute;sent&eacute;s sans l&rsquo;autorisation expresse de Terhoma, sous peine de poursuites judiciaires.</p>

            <p>Les droits d&rsquo;utilisation conc&eacute;d&eacute;s &agrave; l&rsquo;abonn&eacute; sont r&eacute;serv&eacute;s &agrave; un usage priv&eacute; et personnel dans le cadre et pour la dur&eacute;e de l&rsquo;inscription aux services. Toute autre utilisation par l&rsquo;abonn&eacute; est interdite.</p>

            <p>L&#39;abonn&eacute; s&rsquo;interdit notamment de modifier, copier, reproduire, t&eacute;l&eacute;charger, diffuser, transmettre, exploiter commercialement et/ou distribuer de quelque fa&ccedil;on que ce soit les services, les pages du site , ou les codes informatiques des &eacute;l&eacute;ments composant les ervices et le site, sous peine de poursuites judiciaires.</p>

            <p>&nbsp;</p>

            <p><strong>6.2. Contenus diffus&eacute;s par les abonn&eacute;s&nbsp;</strong></p>

            <p>L&rsquo;abonn&eacute; conc&egrave;de &agrave; Terhoma une licence d&rsquo;utilisation des droits de propri&eacute;t&eacute; intellectuelle attach&eacute;s aux contenus fournis par lui dans le cadre de son inscription ou abonnement et de son utilisation des services ou de la diffusion de son profil sur les services. Cette licence comprend notamment le droit pour Terhoma de reproduire, repr&eacute;senter, adapter, traduire, num&eacute;riser, utiliser aux fins des services ou de sous-licencier les contenus fournis par &nbsp;l&rsquo;abonn&eacute; (informations, images, description, extraits d&#39;ouvrage, etc.), sur tout ou partie des services et sur le site, et de mani&egrave;re g&eacute;n&eacute;rale sur tous supports de communication &eacute;lectronique (e-mail, Internet, application mobile) dans le cadre des services.</p>

            <p>L&rsquo;Abonn&eacute; autorise express&eacute;ment Terhoma &agrave; modifier lesdits contenus afin de respecter la charte graphique des services ou des autres supports de communication vis&eacute;s ci-dessus et/ou de les rendre compatibles avec ses performances techniques ou les formats des supports concern&eacute;s. Ces droits sont conc&eacute;d&eacute;s pour le Monde entier et pour la dur&eacute;e d&rsquo;ex&eacute;cution des Conditions d&rsquo;Utilisation entre&nbsp;l&rsquo;abonn&eacute; et Terhoma. L&rsquo;abonn&eacute; s&rsquo;interdit de copier, reproduire, ou autrement utiliser les contenus relatifs aux autres abonn&eacute;s autrement que pour les stricts besoins d&rsquo;utilisation des services &agrave; des fins personnelles et priv&eacute;es.</p>

            <p>&nbsp;</p>

            <p><strong>7. RESPONSABILITE ET GARANTIE :</strong></p>

            <p><strong>7.1 Informations et contenus fournis par les Membres</strong></p>

            <p>Les informations fournies par un abonn&eacute; &agrave; Terhoma doivent &ecirc;tre exactes et conformes &agrave; la r&eacute;alit&eacute;. Les cons&eacute;quences de leur divulgation sur sa vie et/ou celle des autres abonn&eacute;s sont de la responsabilit&eacute; exclusive de l&rsquo;abonn&eacute; concern&eacute;. L&#39;abonn&eacute; prend l&rsquo;initiative de divulguer et de diffuser via le sitedes informations, donn&eacute;es, textes, contenus et images le concernant. En cons&eacute;quence, il renonce &agrave; tout recours &agrave; l&rsquo;encontre de Terhoma , notamment sur le fondement de l&rsquo;atteinte &eacute;ventuelle &agrave; son droit &agrave; l&rsquo;image, &agrave; son honneur, &agrave; sa r&eacute;putation, &agrave; l&rsquo;intimit&eacute; de sa vie priv&eacute;e, r&eacute;sultant de la diffusion ou de la divulgation d&rsquo;informations le concernant dans les conditions pr&eacute;vues par la politique de confidentialit&eacute; dans la mesure o&ugrave; &nbsp;l&rsquo;abonn&eacute; a pr&eacute;alablement, librement et explicitement consenti &agrave; une telle divulgation du fait de son inscription ou abonnement aux services, en application des conditions d&rsquo;utilisation.</p>

            <p>7.2.&nbsp;Terhoma ne peut &ecirc;tre tenue pour responsable de l&rsquo;exactitude ou de l&rsquo;inexactitude des informations et contenus fournis par les autres abonn&eacute;s et/ou l&#39;abonn&eacute; lui-m&ecirc;me, ni des cons&eacute;quences d&eacute;coulant de l&rsquo;utilisation de ces informations et contenus. De m&ecirc;me, Terhoma ne peut &ecirc;tre tenue pour responsable des contenus diffus&eacute;s par un abonn&eacute; susceptibles de contrevenir aux droits d&rsquo;un ou plusieurs autres abonn&eacute;s ou tiers et dont Terhoma rapporterait la preuve qu&rsquo;elle n&rsquo;en aurait pas &eacute;t&eacute; inform&eacute; par un abonn&eacute; ou par un tiers ou n&rsquo;en aurait pas eu une connaissance effective et pr&eacute;alable avant sa diffusion ou qu&rsquo;il n&rsquo;aurait pas commis de faute dans l&rsquo;ex&eacute;cution de ses obligations contractuelles au titre des conditions d&rsquo;Utilisation.</p>

            <p>Terhoma ne pourra voir sa responsabilit&eacute; engag&eacute;e par un abonn&eacute; que dans l&rsquo;hypoth&egrave;se o&ugrave; la preuve certaine et d&eacute;finitive serait &eacute;tablie d&rsquo;une faute commise par Terhoma ou par l&rsquo;un de ses sous-traitants, ayant &eacute;t&eacute; la cause exclusive d&rsquo;un dommage effectif et direct caus&eacute; &agrave; l&rsquo;abonn&eacute;. Le cas &eacute;ch&eacute;ant, il incombera &agrave; Terhoma de d&eacute;montrer qu&rsquo;elle n&rsquo;a pas commis de faute dans l&rsquo;ex&eacute;cution de ses obligations contractuelles. Terhoma ne sera pas responsable des dommages subis par l&rsquo;abonn&eacute; lorsqu&rsquo;ils sont caus&eacute;s par ce dernier ou lorsqu&rsquo;ils r&eacute;sultent d&rsquo;un cas de force majeure.</p>

            <p>7.3.&nbsp;La qualit&eacute; des services exig&eacute;e tant par Terhoma que par ses abonn&eacute;s suppose le respect d&rsquo;une certaine &eacute;thique dans l&rsquo;expression et le comportement des abonn&eacute;s, le respect des droits des tiers, ainsi que le respect des lois et r&egrave;glements en vigueur. Au service de cette exigence de qualit&eacute;, de responsabilit&eacute; individuelle et d&rsquo;&eacute;thique, Terhoma permet &agrave; tout abonn&eacute; de lui signaler tous contenus (photographie, texte, vid&eacute;o), comportements ou propos d&rsquo;un abonn&eacute; qui lui paraissent porter atteinte aux lois et r&egrave;glements en vigueur, &agrave; l&rsquo;image ou &agrave; l&rsquo;objet des services, aux droits d&rsquo;un tiers ou aux bonnes m&oelig;urs.</p>

            <p>En cons&eacute;quence, les abonn&eacute;s reconnaissent et acceptent que les donn&eacute;es qu&rsquo;ils fournissent, ainsi que leurs comportements ou leurs propos via les services sont susceptibles de faire l&rsquo;objet d&rsquo;un signalement par d&rsquo;autres abonn&eacute;s et d&rsquo;une mod&eacute;ration et/ou d&rsquo;un contr&ocirc;le parTerhoma, sur la base de crit&egrave;res d&rsquo;appr&eacute;ciation objectifs. Dans l&rsquo;hypoth&egrave;se o&ugrave; ce signalement ou ce contr&ocirc;le r&eacute;v&eacute;lerait la violation par un abonn&eacute; des lois et r&egrave;glements en vigueur ou de ses obligations contractuelles au titre des conditions d&rsquo;utilisation, Terhoma pourra exclure ledit abonn&eacute; conform&eacute;ment &agrave; l&rsquo;article 8 ci-apr&egrave;s. Selon le comportement ou les propos des abonn&eacute;s, l&rsquo;&eacute;quipe de surveillance peut prendre la d&eacute;cision de bloquer toute nouvelle inscription par la personne concern&eacute;e.</p>

            <p>7.4.&nbsp;Dans le cas o&ugrave; la responsabilit&eacute; de Terhoma&nbsp;&nbsp;serait recherch&eacute;e &agrave; raison d&rsquo;un manquement par un abonn&eacute; aux obligations qui lui incombent aux termes de la loi ou des conditions d&rsquo;Utilisation, ce dernier s&rsquo;engage &agrave; garantir Terhoma contre tous dommages, frais ou condamnations prononc&eacute;s &agrave; son encontre trouvant leur origine dans le manquement imput&eacute; au &agrave; l&rsquo;abonn&eacute;.</p>

            <p>&nbsp;</p>

            <p><strong>ARTICLE 8. SUSPENSION DU PROFIL &ndash; SUPPRESSION DU COMPTE &ndash; R&Eacute;SILIATION DE L&rsquo;ABONNEMENT</strong></p>

            <p><strong>8.1&nbsp;Suspension du Profil</strong></p>

            <p>Chaque abonn&eacute; peut &agrave; tout moment demander la suspension de son profil, notamment via la rubrique &laquo;&nbsp;Mon Compte&nbsp;&raquo; d&eacute;di&eacute;e &agrave; cet effet, afin de ne plus &ecirc;tre visible sur le&nbsp;site et ne plus recevoir de notifications. Cette suspension est temporaire et n&rsquo;interrompt pas l&rsquo;abonnement. L&rsquo;abonn&eacute; peut r&eacute;activer son profil &agrave; tout moment.</p>

            <p>&nbsp;</p>

            <p><strong>8.2 Suppression du Compte</strong></p>

            <p>Chaque abonn&eacute; peut &agrave; tout moment mettre fin &agrave; son inscription aux services ou &agrave; son abonnement en demandant la cl&ocirc;ture de soncompte aupr&egrave;s de Teroma, sans frais autres que ceux li&eacute;s &agrave; la transmission de sa demande et sans motif, notamment via la rubrique &laquo;&nbsp;Mon Compte&nbsp;&raquo;, par email, formulaire de contact ou par tout moyen qui pourra lui &ecirc;tre indiqu&eacute; dans cette rubrique. Cette demande sera r&eacute;put&eacute;e effectu&eacute;e le jour ouvr&eacute; suivant la r&eacute;ception par Terhoma&nbsp;de la demande de cl&ocirc;ture du compte concern&eacute;, et l&rsquo;abonn&eacute; ne pourra plus utiliser son abonnement. Cette demande ne donne pas droit au remboursement &agrave; l&rsquo;abonn&eacute; de la p&eacute;riode restant &agrave; courir jusqu&rsquo;&agrave; l&rsquo;&eacute;ch&eacute;ance de son abonnement. L&rsquo;abonn&eacute; sera inform&eacute; par courrier &eacute;lectronique de la suppression de son compte.</p>

            <p>&nbsp;</p>

            <p><strong>8.3 Non-reconduction/R&eacute;siliation de l&rsquo;Abonnement par l&rsquo;Abonn&eacute;</strong></p>

            <p>L&rsquo;abonn&eacute; peut mettre fin au renouvellement automatique de son abonnement 24h apr&egrave;s la souscription et jusqu&rsquo;&agrave; 48h au plus tard avant la date d&rsquo;&eacute;ch&eacute;ance de l&rsquo;abonnement, en se rendant dans la rubrique &laquo;&nbsp;Mon Compte&nbsp;&raquo;. La r&eacute;siliation prend alors effet &agrave; la date d&rsquo;expiration de l&rsquo;abonnement. La r&eacute;siliation de l&rsquo;abonnement sera confirm&eacute;e &agrave; l&rsquo;abonn&eacute; par courrier &eacute;lectronique qui sera utilis&eacute; jusqu&rsquo;&agrave; cette date.</p>

            <p>&nbsp;</p>

            <p><strong>8.4 R&eacute;siliation par Terhoma</strong></p>

            <p>Sans pr&eacute;judice des autres dispositions des conditions d&rsquo;utilisation, en cas de manquement grave d&rsquo;un abonn&eacute; , notamment en cas de manquement auxobligations fondamentales, Terhoma pourra supprimer d&eacute;finitivement le compte&nbsp;de&nbsp;l&rsquo;abonn&eacute; concern&eacute; , sans pr&eacute;avis ni mise en demeure. Cette suppression n&rsquo;emporte le droit au remboursement de l&rsquo;abonn&eacute;. L&#39;abonn&eacute; sera inform&eacute; par courrier &eacute;lectronique de la suppression de son compte.</p>

            <p>Cette suppression interviendra sans pr&eacute;judice de tous les dommages et int&eacute;r&ecirc;ts qui pourraient &ecirc;tre r&eacute;clam&eacute;s par Terhoma&nbsp;&agrave; l&rsquo;abonn&eacute; ou ses ayants droit et repr&eacute;sentants l&eacute;gaux en r&eacute;paration des pr&eacute;judices subis par Terhoma du fait de tels manquements.</p>

            <p>&nbsp;</p>

            <p><strong>ARTICLE 9.&nbsp;EVENEMENTS&nbsp;&nbsp;</strong></p>

            <p>Lorsque des &eacute;v&egrave;nements sont propos&eacute;s aux abonn&eacute;s sur le site, des conditions g&eacute;n&eacute;rales sp&eacute;cifiques sont applicables. Vous pouvez les consulter sur les pages d&eacute;crivant les &eacute;v&egrave;nements.</p>

            <p><strong>ARTICLE 10. DONN&Eacute;ES PERSONNELLES</strong></p>

            <p>Les donn&eacute;es &agrave; caract&egrave;re personnel des abonn&eacute;s sont trait&eacute;es dans le respect de la politique de confidentialit&eacute; applicable &agrave; Terhoma.</p>

            <p>&nbsp;</p>

            <p><strong>ARTICLE 11. INT&Eacute;GRALIT&Eacute; DE LA CONVENTION</strong></p>

            <p>Les conditions d&rsquo;utilisation constituent un contrat r&eacute;gissant les relations entre l&rsquo;abonn&eacute; et Terhoma. Elles annulent et remplacent toutes les dispositions ant&eacute;rieures non express&eacute;ment vis&eacute;es ou annex&eacute;es et constituent l&rsquo;int&eacute;gralit&eacute; des droits et obligations deTerhoma et de l&rsquo;abonn&eacute; relatifs &agrave; leur objet.</p>

            <p>Si une ou plusieurs stipulations des conditions d&rsquo;utilisation &eacute;taient d&eacute;clar&eacute;es nulles en application d&rsquo;une loi, d&rsquo;un r&egrave;glement ou &agrave; la suite d&rsquo;une d&eacute;cision d&eacute;finitive d&rsquo;une juridiction ou autorit&eacute; comp&eacute;tente, les autres stipulations garderont toute leur force et leur port&eacute;e, dans la mesure permise par la loi, le r&egrave;glement ou la d&eacute;cision applicable.</p>

            <p>&nbsp;</p>

            <p><strong>ARTICLE 12. MODIFICATION DES SERVICES ET DES CONDITIONS D&rsquo;UTILISATION</strong></p>

            <p><strong>12.1 Modification des Services</strong></p>

            <p>Terhoma pourra faire &eacute;voluer et modifier &agrave; tout moment le contenu et/ou les fonctionnalit&eacute;s du site et les services afin d&rsquo;en am&eacute;liorer la qualit&eacute;. L&#39;abonn&eacute; sera inform&eacute; de la nature de ces &eacute;volutions ou modifications d&egrave;s leur mise en ligne sur le&nbsp;site.</p>

            <p>&nbsp;</p>

            <p><strong>12.2 Modification des Conditions d&rsquo;Utilisation</strong></p>

            <p>Terhoma &nbsp;pourra modifier &agrave; tout moment les conditions d&rsquo;utilisation. L&rsquo;abonn&eacute; sera inform&eacute; de ces modifications d&egrave;s leur mise en ligne sur le&nbsp;site.</p>

            <p>Toute nouvelle inscription ou souscription d&rsquo;abonnement est soumise aux conditions d&rsquo;utilisation alors en vigueur.</p>

            <p>Les abonn&eacute;s inscrits ant&eacute;rieurement &agrave; la modification des conditions d&rsquo;utilisation auront le choix entre deux options&nbsp;:</p>

            <p>L&rsquo;abonn&eacute; peut accepter directement les nouvelles conditions d&rsquo;utilisation&nbsp;; celles-ci lui seront opposables &agrave; compter de l&rsquo;acceptation.</p>

            <p>L&rsquo;abonn&eacute; peut exiger le maintien des conditions d&rsquo;utilisation qui &eacute;taient en vigueur lors de la souscription de son abonnement, jusqu&rsquo;&agrave; l&rsquo;&eacute;ch&eacute;ance de l&rsquo;abonnement ou des p&eacute;riodes successives de renouvellement tacite de cet abonnement, en faisant la demande expresse aupr&egrave;s de Terhoma dans un d&eacute;lai d&rsquo;un (1) mois suivant la date d&rsquo;entr&eacute;e en vigueur des conditions d&rsquo;utilisation modifi&eacute;es, aux coordonn&eacute;es indiqu&eacute;es &agrave; l&rsquo;article 13 ci-dessous.</p>

            <p>A d&eacute;faut de retour de l&rsquo;abonn&eacute; dans le d&eacute;lai d&rsquo;un (1) mois apr&egrave;s leur entr&eacute;e en vigueur, les conditions d&rsquo;utilisation modifi&eacute;es seront r&eacute;put&eacute;es accept&eacute;es par l&rsquo;abonn&eacute;.</p>

            <p>&nbsp;</p>

            <p><strong>ARTICLE 13. DEMANDE ET R&Eacute;CLAMATION</strong></p>

            <p>Pour toute demande ou r&eacute;clamation relative &agrave; un&nbsp; abonnement,&nbsp; l&rsquo;abonn&eacute; peut contacter Terhoma par courrier postal &agrave; l&#39;adresse pr&eacute;sente au haut de cette page ou en remplissant le&nbsp;formulaire de contact, en prenant le soin d&rsquo;indiquer ses identifiants personnels.</p>

            <p>L&#39;abonn&eacute; peut &eacute;galement contacter le service client par courrier &eacute;lectronique.</p>

            <p>&nbsp;</p>

            <p><strong>ARTICLE 14 &ndash; DROIT APPLICABLE &ndash; LITIGES</strong></p>

            <p>Ces conditions d&rsquo;utilisation sont r&eacute;gies et s&rsquo;interpr&egrave;tent conform&eacute;ment au droit fran&ccedil;ais, sous r&eacute;serve des r&egrave;gles imp&eacute;ratives de la loi du pays de r&eacute;sidence de l&rsquo;abonn&eacute;. La langue d&rsquo;interpr&eacute;tation est le fran&ccedil;ais.</p>

            <p>Conform&eacute;ment aux r&egrave;gles applicables &agrave; la m&eacute;diation, l&#39;abonn&eacute; devra, avant toute demande de m&eacute;diation, avoir pr&eacute;alablement notifi&eacute; le litige en cause &agrave; Terhoma par &eacute;crit afin d&rsquo;obtenir une solution amiable.</p>

            <p>Dans le cas o&ugrave; un accord amiable ne pourrait &ecirc;tre trouv&eacute; en cas de litige relatif aux conditions d&rsquo;utilisation, les juridictions comp&eacute;tentes seront les tribunaux du lieu de r&eacute;sidence du consommateur se situant dans l&rsquo;un des &Eacute;tats membres de l&rsquo;Espace &eacute;conomique europ&eacute;en ou en Suisse.</p>
            
            <div class="m-5">
                <img src="{{ asset('assets/images/illustration/tapi.png') }}" class="mx-auto">
            </div>
        
        </div>

    </div>
{% endblock %}

