{% extends 'base.html.twig' %}

{% block title 'Réinitialisation du mot de passe' %}

{% block body %}
    <div class="content">
        <div class="illustration" style="background-image: url({{ asset('assets/images/illustration/login.jpg') }});">
            <span class="illustration-title about-title login-tilte" style="width: 22.2rem;">Réinitialisation du mot de passe</span>
        </div>

        <div class="separator"></div>

        <div class="block-quote bg-purple text-white" style="height: auto;border-top: 1px solid white;">
            <h3 style="font-size: 1.26rem; font-style: italic; margin: 2rem 0 4rem; color: white; text-align: center; text-decoration: underline;">Changer votre mot de passe</h3>
            <form method="POST" action="" class="register mx-auto w-50">
                <div class="form-row">
                    <div class="col-12 mb-5">
                        <label for="password">Nouveau mot de passe</label>
                        <input type="text" class="form-control" id="password" autocomplete="off" placeholder="Nouveau mot de passe">
                    </div>
                    <div class="col-12 mb-4">
                        <label for="password-2">Confirmer le nouveau mot de passe</label>
                        <input type="text" class="form-control" id="password-2" autocomplete="off" placeholder="Confirmer le nouveau mot de passe">
                    </div>
                </div>
                <div class="text-center mb-5">
                    <button class="login btn-default">Sauvegarder</button>
                </div>
            </form>
        </div>

    </div>
{% endblock %}
