{% extends 'base.html.twig' %}

{% block stylesheets '<link rel="stylesheet" href="http://pasvupaslu.com/css/7.css">' %}

{% block title 'Lecteurs' %}

{% block body %}

    <div class="vbox wb_container" id="wb_main" style="height: 1042px;">

        <div class="wb_cont_inner">
            <div id="wb_element_instance1520" class="wb_element wb_text_element" style=" line-height: normal;">
                <h3 class="wb-stl-heading3" style="text-align: center;">
                    <span style="color:rgba(13,8,13,1);">Lecteurs</span>
                </h3>
            </div>

            <div id="wb_element_instance1521" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance1522" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal">
                    <strong>
                        <span style="color:rgba(255,255,255,1);">REJOINDRE PAS VU, PAS LU, C'EST :</span>
                    </strong>
                </p>
            </div>

            <div id="wb_element_instance1523" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance1524" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance1525" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance1526" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance1527" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance1528" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance1529" class="wb_element wb_element_picture" title="">
                <img alt="gallery/visuelsalon2" src="{{ asset('assets/images/gallery/3afa35bfbdabee2fc695cd9e5c7d7344_1200x532.jpg') }}">
            </div>

            <div id="wb_element_instance1530" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal">Découvrir&nbsp;de nouveaux auteurs et de petites maisons d'édition</p>

                <p class="wb-stl-normal">Donner son avis et noter les textes mis en ligne,</p>

                <p class="wb-stl-normal">Avoir la possibilite de participer à un comité de lecture ,</p>

                <p class="wb-stl-normal">Avoir la possibilité de devenir membre d'un jury,</p>

                <p class="wb-stl-normal">Pouvoir être Interviewé(e) ,</p>

                <p class="wb-stl-normal">Recevoir des livres gratuits ( En fonction des actions menées par les maisons d'éditions, les auteurs et le département édition de Terhoma.</p>

                <p class="wb-stl-normal">Avoir des réductions sur certains livres,</p>

                <p class="wb-stl-normal">Rencontrer des auteurs,&nbsp;des éditeurs et d'autres&nbsp;lecteurs pour Echanger et partager,</p>

                <p class="wb-stl-normal">Participer à nos évènements ( Dans la limite des places disponibles)</p>

                <p class="wb-stl-normal">Recevoir gratuitement son entrée&nbsp;au salon Pas vu, pas lu, dès la 1ère édition.</p>
            </div>

            <div id="wb_element_instance1531" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance1532" class="wb_element">
                <a class="wb_button" href="Inscription-Lecteur/">
                    <span>Inscription !</span>
                </a>
            </div>
        </div>
    </div>

{% endblock %}


