{% extends 'base.html.twig' %}

{% block stylesheets '<link rel="stylesheet" href="http://pasvupaslu.com/css/27.css">' %}

{% block title 'Inscription lecteur' %}

{% block body %}

    <div class="vbox wb_container" id="wb_main" style="height: 910px;">

        <div class="wb_cont_inner">
            <div id="wb_element_instance1201" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal" style="text-align: center;"><b>&nbsp; &nbsp;</b><strong> <em>&nbsp;Inscription Lecteur</em></strong></p>

                <p class="wb-stl-normal" style="text-align: center;"><em><span style="color:rgba(255,255,255,1);">(Enregistrement des inscriptions à compter du 1er Mars 2019)</span></em><span style="color:rgba(255,255,255,1);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p>
            </div>

            <div id="wb_element_instance1202" class="wb_element wb_text_element" style=" line-height: normal;">
                <h3 class="wb-stl-heading3" style="text-align: center;"><span style="color:rgba(13,9,13,1);">Inscription Lecteur</span></h3>
            </div>

            <div id="wb_element_instance1203" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance1204" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance1205" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance1206" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance1207" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance1208" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance1209" class="wb_element wb_element_picture" title="">
                <img alt="gallery/bandeaueven" src="{{ asset('assets/images/gallery/d651114c26c8d0d079a962200d92886a_1200x303.jpg') }}">
            </div>

            <div id="wb_element_instance1210" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance1211" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance1212" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal"><em><strong>Devenir membre lecteur, c'est facile !</strong></em></p>

                <p class="wb-stl-normal">1/ Remplissez le questionnaire ci-dessous,</p>

                <p class="wb-stl-normal">2/ Effectuez votre paiement,</p>

                <p class="wb-stl-normal">3/ Vérifiez votre inscription sur votre boite mail.</p>

                <p class="wb-stl-normal">4/ Commencez votre activité en vous connectant à votre espace.</p>

                <p class="wb-stl-normal">&nbsp;</p>
            </div>

            <div id="wb_element_instance1213" class="wb_element wb_element_picture" title="">
                <img alt="gallery/livre ouvert" src="{{ asset('assets/images/gallery/12cf4fa08fd84de973e92eb82ace7134_150x109.png') }}">
            </div>

            <div id="wb_element_instance1214" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal" style="text-align: center;">Tarif Annuel TTC</p>
                <p class="wb-stl-normal" style="text-align: center;"><strong>12 Euros</strong></p>
            </div>

            <div id="wb_element_instance1215" class="wb_element wb_element_picture" title="">
                <img alt="gallery/visuelinscriplecteur" src="{{ asset('assets/images/gallery/5f905d7dda1b419a1f706cff4b0f02d9_444x309.jpg') }}">
            </div>

        </div>
        <div class="wb_cont_outer"></div>
        <div class="wb_cont_bg"></div>
    </div>

{% endblock %}
