{% extends 'base.html.twig' %}

{% block stylesheets '<link rel="stylesheet" href="http://pasvupaslu.com/css/28.css">' %}

{% block title 'Inscription Auteur' %}

{% block body %}

    <div class="vbox wb_container" id="wb_main" style="height: 1510px;">

        <div class="wb_cont_inner">
            <div id="wb_element_instance1244" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal" style="text-align: center;"><b>&nbsp; &nbsp;</b>
                    <strong> <em>&nbsp;Inscription Auteur</em></strong>
                </p>
                <p class="wb-stl-normal" style="text-align: center;">
                    <em>
                        <span style="color:rgba(255,255,255,1);">(Enregistrement des inscriptions à compter du 15&nbsp;février 2019)</span>
                    </em>
                </p>
            </div>

            <div id="wb_element_instance1245" class="wb_element wb_text_element" style=" line-height: normal;">
                <h3 class="wb-stl-heading3" style="text-align: center;"><span style="color:rgba(13,9,13,1);">Inscription Auteur</span></h3>
            </div>

            <div id="wb_element_instance1246" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance1247" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance1248" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance1249" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance1250" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance1251" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance1252" class="wb_element wb_element_picture" title="">
                <img alt="gallery/bandeaueven" src="{{ asset('assets/images/gallery/d651114c26c8d0d079a962200d92886a_1200x303.jpg') }}">
            </div>

            <div id="wb_element_instance1253" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance1254" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance1255" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal"><em><strong>Devenir membre Auteur, c'est facile !</strong></em></p>

                <p class="wb-stl-normal">1/ Avant de commencer, prenez connaissance <a data-finalurl="mi:5d14e62b_124/" data-name="Informations Légales" href="Informations-L%C3%A9gales/">des conditions générales de ventes</a> et des conditions générales d'utilisation&nbsp;du site.</p>

                <p class="wb-stl-normal">2/Remplissez le questionnaire ci-dessous,</p>

                <p class="wb-stl-normal">3/ Téléchargez&nbsp;la couverture et un extrait de votre ouvrage *</p>

                <p class="wb-stl-normal">4/ Effectuez votre paiement,</p>

                <p class="wb-stl-normal">5/ Vérifiez votre inscription sur votre boite mail.</p>

                <h5 class="wb-stl-subtitle"><strong><em>Contactez-nous si vous avez besoin d'aide !</em></strong></h5>

                <p><span style="color:rgba(255,255,255,1);"><strong><em>* Couverture (format Jpeg), Extrait ( format e.pub OU pdf)</em></strong></span></p>
            </div>

            <div id="wb_element_instance1256" class="wb_element wb_element_picture" title="">
                <img alt="gallery/livre ouvert" src="{{ asset('assets/images/gallery/12cf4fa08fd84de973e92eb82ace7134_150x109.png') }}">
            </div>

            <div id="wb_element_instance1257" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal" style="text-align: center;">Tarif Annuel TTC</p>

                <p class="wb-stl-normal" style="text-align: center;"><strong>60 Euros</strong></p>
            </div>

            <div id="wb_element_instance1258" class="wb_element wb_element_picture" title="">
                <img alt="gallery/visuelinscriptauteur" src="{{ asset('assets/images/gallery/92e9d7cbea4b6ccf12cddebae8a2c5da_444x310.jpg') }}">
            </div>

            <div id="wb_element_instance1259" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance1260" class="wb_element">
                <form class="wb_form" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="wb_form_id" value="4a18c23b">
                    <textarea name="message" rows="3" cols="20" class="hpc"></textarea>
                    <table>
                        <tbody>
                        <tr>
                            <th>Nom&nbsp;&nbsp;</th>
                            <td>
                                <input type="hidden" name="wb_input_0" value="Nom">
                                <input class="form-control form-field" type="text" value="" name="wb_input_0" required="required">
                            </td>
                        </tr>
                        <tr>
                            <th>Prénom&nbsp;&nbsp;</th>
                            <td>
                                <input type="hidden" name="wb_input_1" value="Prénom">
                                <input class="form-control form-field" type="text" value="" name="wb_input_1" required="required">
                            </td>
                        </tr>
                        <tr>
                            <th>Pseudo ou nom de Plume&nbsp;&nbsp;</th>
                            <td>
                                <input type="hidden" name="wb_input_2" value="Pseudo ou nom de Plume">
                                <input class="form-control form-field" type="text" value="" name="wb_input_2" required="required">
                            </td>
                        </tr>
                        <tr>
                            <th>email&nbsp;&nbsp;</th>
                            <td>
                                <input type="hidden" name="wb_input_3" value="email">
                                <input class="form-control form-field" type="text" value="" name="wb_input_3" required="required">
                            </td>
                        </tr>
                        <tr>
                            <th>téléphone&nbsp;&nbsp;</th>
                            <td>
                                <input type="hidden" name="wb_input_4" value="téléphone">
                                <input class="form-control form-field" type="text" value="" name="wb_input_4" required="required">
                            </td>
                        </tr>
                        <tr>
                            <th>Catégorie souhaitée &nbsp;&nbsp;</th>
                            <td>
                                <input type="hidden" name="wb_input_5" value="Catégorie souhaitée ">
                                <select class="form-control form-field" name="wb_input_5" required="required">
                                    <option value="0">Romans</option>
                                    <option value="1">Nouvelles</option>
                                    <option value="2">Essais</option>
                                    <option value="3">Thrillers</option>
                                    <option value="4">Poésies</option>
                                    <option value="5">Mangas</option>
                                    <option value="6">Jeunesse</option>
                                    <option value="7">Bandes-Dessinées</option>
                                    <option value="8">Vie Pratique et Bien-être</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="area-row">
                            <th>Message&nbsp;&nbsp;</th>
                            <td>
                                <input type="hidden" name="wb_input_6" value="Message">
                                <textarea class="form-control form-field form-area-field" rows="3" cols="20" name="wb_input_6" required="required"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>Pièces jointes&nbsp;&nbsp;</th>
                            <td>
                                <div class="form-file-wrapper">
                                    <input class="form-field" type="file" multiple="" name="wb_input_7[]" required="required">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>&nbsp;&nbsp;</th>
                            <td>
                                <label class="checkbox-label ">
                                    <input class="form-control form-field" type="checkbox" value="1" name="wb_input_8"> Je veux recevoir les actualités de pas vu, pas lu</label>
                            </td>
                        </tr>
                        <tr>
                            <th>&nbsp;&nbsp;</th>
                            <td>
                                <label class="checkbox-label ">
                                    <input class="form-control form-field" type="checkbox" value="1" name="wb_input_9" required="required"> J’accepte les termes et <a data-finalurl="mi:5d14e62b_124/" data-name="Informations Légales" href="Informations-L%C3%A9gales/">conditions de ventes et d'utilisation </a>du site Internet.</label>
                            </td>
                        </tr>
                        <tr class="form-footer">
                            <td colspan="2">
                                <button type="submit" class="btn btn-default">Envoyer</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="hidden" name="MAX_FILE_SIZE" value="2097152">
                </form>
            </div>

            <div id="wb_element_instance1261" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal" style="text-align: justify;">
                    <em>
                        <span style="color:rgba(0,0,0,1);">Pour la sécurité de votre&nbsp;transaction, nous avons opté pour la plateforme de paiement paypal. Vous pouvez donc, une fois connecté(e), payer par carte bancaire ou via votre compte Paypal, si vous en avez un.</span>
                    </em>
                </p>
            </div>

            <div id="wb_element_instance1262" class="wb_element" style=" overflow: hidden;">
                <div style="height: 100%;">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="XQPB7P6SA84RU">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" name="on0" value="">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select name="os0">
                                        <option value="Inscription Auteur">Inscription Auteur : €60,00 EUR - annuel</option>
                                        <option value="Inscription Lecteur">Inscription Lecteur : €12,00 EUR - annuel</option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <input type="hidden" name="currency_code" value="EUR">
                        <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne"><img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1"></form>
                </div>
            </div>

            <div id="wb_element_instance1263" class="wb_element wb_element_picture" title="">
                <img alt="gallery/book-3658687_1920" src="{{ asset('assets/images/gallery/fcc675f512067a4eaf8cafd56d59432a_300x300.png') }}">
            </div>

        </div>
        <div class="wb_cont_outer"></div>
        <div class="wb_cont_bg"></div>
    </div>

{% endblock %}

