{% extends 'base_admin.html.twig' %}

{% block title 'Liste des livres' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-xl-12 col-lg-12">

                {# Menu du header #}
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Liste des livres
                            <span class="badge badge-primary float-right">Il y a 10 livre(s)</span>
                        </h6>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Photo</th>
                                <th scope="col">Information du livre</th>
                                <th scope="col" style="text-align: right">Options</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <img style="width:100%;" src="https://static.fnac-static.com/multimedia/Images/FR/NR/63/9c/a2/10656867/1507-0/tsp20181105222802/Les-aventures-de-Lucky-Luke-d-apres-Morris-tome-8-Un-cow-boy-a-Paris.jpg" alt="">
                                </td>
                                <td>
                                    Lucky Luke - Tome 8 : Un Cow-boy à Paris
                                    <div class="desc mt-1">
                                        Catégorie : <b>Manga</b>
                                        <p style="display: inline-block;margin-left: 1rem">Editeur : <b><a href="#!">Alexandre</a></b></p>
                                    </div>
                                    <div class="desc mt-1">
                                        Tagada, tagada, voilà Lucky Luke ! Il est entré dans le hall de notre groupe de presse sur son fameux cheval, Jolly Jumper, cool, comme à son habitude. Puis il est monté dans l’ascenseur qui mène à la rédaction, mâchouillant sa brindille, silencieux mais souriant. Peut-être pensait-il encore à son dernier séjour à Paris, lorsqu’il avait dû venir chercher la statue de la Liberté pour la rapporter en Amérique. Car, pendant ce périple maritime et terrestre, le cow-boy qui tire plus vite que son ...
                                    </div>
                                </td>
                                <th scope="row" style="text-align: right">
                                    <a href="{{ path('admin_addbook') }}" class="btn btn-primary btn-circle btn-sm mb-1">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="#" class="btn btn-info btn-circle btn-sm mb-1">
                                        <i class="far fa-eye"></i>
                                    </a>
                                    <a href="#" class="btn btn-danger btn-circle btn-sm mb-1" onclick="return confirm('Êtes-vous sûr de bien vouloir supprimer ce livre ?\n');">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <style>
        tbody {
            background: #f8f9fc;
        }
        .desc {
            font-size: .75rem;
            color: #858796;
        }
    </style>
{% endblock %}


