<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title '' %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        {# a editer #}
        <link rel="stylesheet" href="http://pasvupaslu.com/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://pasvupaslu.com/css/1.css">
        <link rel="stylesheet" href="http://pasvupaslu.com/css/common.css">
        <link rel="stylesheet" href="http://pasvupaslu.com/css/site.css">
        <link rel="stylesheet" href="{{ asset('assets/css/search.css') }}">
        {# Fien #}
        {% block stylesheets '' %}
    </head>
    <body>
        {% include("components/_header.html.twig") %}
        {% include("components/_menu.html.twig") %}
        {% block body %}{% endblock %}
        {% include("components/_footer.html.twig") %}
        <script src="http://pasvupaslu.com/js/jquery-1.11.3.min.js"></script>
        <script src="http://pasvupaslu.com/js/bootstrap.min.js"></script>
        <script src="http://pasvupaslu.com/js/main.js"></script>
        {% block javascripts '' %}
    </body>
</html>
