<div class="vbox wb_container" id="wb_header">

    <div class="wb_cont_inner">
        <div id="wb_element_instance0" class="wb_element wb_text_element" style=" line-height: normal;">
            <h3 class="wb-stl-heading3" style="text-align: center;">P A S &nbsp; &nbsp;V U , &nbsp;P A S &nbsp; L U</h3>
        </div>

        <div id="wb_element_instance1" class="wb_element wb_element_shape">
            <div class="wb_shp"></div>
        </div>

        <div id="wb_element_instance2" class="wb_element wb_text_element" style=" line-height: normal;">
            <p style="text-align: center;"><em><span style="color:rgba(255,255,255,1);">Le marque-page des nouveaux&nbsp;talents &nbsp;!</span></em></p>
        </div>

        <div id="wb_element_instance3" class="wb_element wb_text_element" style=" line-height: normal;">
            <p class="wb-stl-custom2" style="text-align: center;">
                <em><span style="color:rgba(255,255,255,1);">"Toute littérature est assaut contre la frontière."</span></em>
            </p>

            <p style="text-align: right;">
                <strong>
                    <span style="color:rgba(255,255,255,1);">
                        Franz Kafka
                    </span>
                </strong>
            </p>
        </div>

        <div id="wb_element_instance4" class="wb_element wb_element_picture" title="">
            <img alt="gallery/regard" src="{{ asset('assets/images/gallery/e69ff87e577716586d3788dbc8ed6728_142x150.png') }}">
        </div>

        <div id="wb_element_instance5" class="wb_element">
            <a class="wb_button" href="{{ path('identification') }}">
                <span>Inscription / Connexion</span>
            </a>
        </div>

        <div id="wb_element_instance6" class="wb_element wb_element_picture" title="">
            <img alt="gallery/apple-157250" src="{{ asset('assets/images/gallery/dc5d33387ea6ac4c97b176b4740b02b7_165x110.png') }}">
        </div>

        <div id="wb_element_instance7" class="wb_element wb_element_picture" title="">
            <img alt="gallery/livresrange" src="{{ asset('assets/images/gallery/7ef4155aeeab14b16525dce3aba54790_297x170.png') }}">
        </div>

        <div id="wb_element_instance8" class="wb_element" style=" overflow: hidden;">
            <div style="height: 100%;">
                <div class="recherche_p">
                    <form action="" id="searchthis" method="POST">
                        <input id="search" name="q" type="text" placeholder="Rechercher">
                        <input id="search-btn" type="submit" value="Rechercher">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{# Contenu du site la div et fermer dans le footer #}
<div class="wb_cont_inner">